*{
    margin: 0;
    padding: 0;
    font-family:sans-serif ;
}
.big-container{
    background-image: linear-gradient(#c847f1,#380231); 
}

.hero{
    background-image: linear-gradient(#c847f1,#380231); 
}
.topbar{
    padding: -6px;
    background-color:#c847f1;
}
.topbar a{
    width: 100%;
   padding: 30px;
    margin:auto;
    color: #fff;
    align-items: center;
    justify-content: space-between;
}
.topbar img{
    width: 130px;
}

.top-button{
    /* height:5px;
    float: right; */
    display: inline-block;
    list-style: none;
    margin: 0px 310px;   
}
.top-button a{
    margin: 0 8px;
    padding:8px 20px;
    border-radius: 50px;
    background: #fff;
    color: #333;
    text-decoration: none ;
    border: 2px solid #fff;
}
.login-btn{
    background: transparent !important;
    color: white !important;
}
.top-button a:hover{
    background: #fff !important;
    color: #333 !important;
}
.hero h1{
    color:#fff;
    font-size: 70px;
    font-weight: 12px;
    margin-top: 12px;
    letter-spacing: 3px;
    font-style: normal;

}
.hero h2{
    color:#fff; 
}
.hero p{
    color:#fff;
}
.hero .container{
    margin-top: 13px;
}
.start-btn{
    background: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    color:#fff;
    width: 140px;
    height: 40px;
    margin-top: 40px;
    border: radius 50px;
}
.home-img img{
   width: 100%;
   min-width: 450px;
   margin-top:30%;
}
.influencers{
    padding: 30px 0;
    background: #efefef;
}
.influencers .container{
    margin-bottom:-200px !important ;
}
.influencers h1{
    margin: 60px 0;
    color: #555;
}
.person-img{
    height: 400px;
}
.person-img img{
    width: 100%;
    height: 100%;
}
.person-details{
    background: #fff;
    padding: 10px 0 10x;
    margin-bottom:15px ;
}
.profile{
    padding: 30px 0;
    background-image: linear-gradient(#c847f1,#380231); 
} 

.profile-card{
    border-radius: 10px;
    background: #fff;
    box-shadow:0 2px 40px 0 rgba(17,39,125,0.18) ;
    margin-bottom: -360px !important;
    margin-top: 370px;
}
.profile-details{
    padding: 40px;

}
.profile-details h2{
    color: #c200ff;
    margin-bottom: 35px;
}
.followers span{
    display: inline-block;
    color: #c200ff;
    margin: 35px 20px 35px 0;
}
.profile-details h5,p{
    color: #555;
}
.btn-follow{
    background: #c200ff;
    border: none;
    border-radius: 50px;
    color:#fff;
    width: 130px;
    height: 40px;
    margin-top: 54px;
    
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 84px;
    min-width: 400px;
    height: 546px;
}
.footer{
    padding: 50px 0 20px;
    background-image: linear-gradient(#c847f1,#380231);
    margin-top: 400px;
}
.footer-menu a{
    display: inline-block;
    width: 120px;
    color: #fff !important;
    text-decoration: none !important; 
    margin-bottom: 20px;
}
.footer p{
    color: #fff;
    font-size: 14px;
    margin: top 20px; ;
}





